[access]
	inheritFrom = All-Projects
[project]
	description = Armoury -- This project has moved to an ARCHIVED state per the TSC vote on 2017-07-13. See: https://meetings.opendaylight.org/opendaylight-meeting/2017/tsc/opendaylight-meeting-tsc.2017-07-13-17.00.html Section 9.f
	state = read only
[receive]
	requireChangeId = true
[access "refs/*"]
	owner = group ldap/gerrit-armoury-committers
	read = group GitHub Replication
